<script>
// Insert data
$("#btnsave").click(function () {
	// console.log("Save Button Clicked");
	output = "";
	let sid = $("#stuid").val();
	let nm = $("#nameid").val();
	let em = $("#emailid").val();
	let pw = $("#passwordid").val();
	let csr = $("input[name=csrfmiddlewaretoken]").val();

if(nm == ""){
	console.log("Please enter name");
} else if(em == ""){
	console.log("Please enter email");
} else if ( pw == ""){
	console.log("Please enter password");
} else{
	// console.log(nm);
	// console.log(em);
	// console.log(pw);
	mydata = { stuid: sid, name: nm, email: em, password: pw, csrfmiddlewaretoken: csr};
	$.ajax({
		url:"{% url 'save' %}",
		method: "POST",
		data: mydata,
		dataType: "json",
		success: function(data) {
			x = data.student_data;
			if(data.status == "Save"){
				$("#msg".text("Form Submitted Successfully"));
				$("#msg").show();
				console.log("Form Submitted Successfully");
				for(i = 0; i < x.length; i++){
					output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email + "</td><td>" + x[i].password + "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid"+x[i].id + "/> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-sid=" + x[i].id + "/>";
				}
				$("#tbody").html(output);
				$("#stuid").val();
				$("form")[0].reset();
			}
			if(data.status == 0) {
				$("#msg".text("Unable to save data"));
				$("#msg").show();
				$("#stuid").val();
				$("form")[0].reset();
			}
		}
	})
}
});


// Delete data
$("tbody").on("click", ".btn-del", function(){
	// console.log("Delete Button Clicked");
	let id = $(this).attr("data-sid");
	let csr = $("input[name=csrfmiddlewaretoken]").val();
	// console.log(id);
	mydata = {sid:id, csrfmiddlewaretoken: csr};
	mythis = this;
	$.ajax({
		url: "{% url 'delete' %}",
		method: "POST",
		data: mydata,
		success:function(data){
			// console.log(data);
			if(data.status == 1){
				$("#msg".text("Deleted Succesfully"));
				$("#msg").show();
				$(mythis).closest('tr').fadeOut();
			}
			if(data.status == 0){
				console.log('Data unable to delete');
				$("#stuid").val();
				$("form")[0].reset();
			}
		}
	})
})

// Edit data
 $("tbody").on("click", ".btn-edit", function(){
	// console.log("Delete Button Clicked");
	let id = $(this).attr("data-sid");
	let csr = $("input[name=csrfmiddlewaretoken]").val();
	// console.log(id);
	mydata = {sid:id, csrfmiddlewaretoken: csr};
	mythis = this;
	$.ajax({
		url: "{% url 'edit' %}",
		method: "POST",
		data: mydata,
		success:function(data){
			$('#stuid').val(data.id);
			$('#nameid').val(data.name);
			$('#emailid').val(data.email);
			$('#passwordid').val(data.password);
		}
	})
})


</script>