<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ajax CRUD</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	<div class = 'container mt-5'>
		<h2 class = 'text-center alert alert-danger'>Ajax CRUD
		</h2>
	<div class='row'>
	<div class='col-sm-4'>
		<h4 class="text-center alert alert-info">Add/Update Student</h4>
	<form action =  '' method = "POST">
		{% csrf_token %}
		<input type="hidden" name="stuid" id = "stuid">
		{{form.as_p}}
		<input 
		type="button", 
		class='btn btn-success', 
		id = 'btnsave', 
		value = 'Save'>
	</form>
	<div id = "msg" class = "alert alert-danger" style = "display:none">
		
	</div>
	</div>
	<div class = 'col-sm-7'>
		<h4 class = 'text-center alert alert-info'> Show student information 
		</h4>
		<table class = 'table table-hover'>
			<thead>
				<tr>
					<th scope='col'>ID</th>
					<th scope='col'>Name</th>
					<th scope='col'>Email</th>
					<th scope='col'>Password</th>
					<th scope='col'>Action</th>
				</tr>
			</thead>
			<tbody id="tbody">
				{% for st in stu %}
				<tr>
				
					<td>{{st.id}}</td>
					<td>{{st.name}}</td>
					<td>{{st.email}}</td>
					<td>{{st.password}}</td>
				<td><input 
					type = 'button' 
					data-sid = '{{st.id}}' 
					class = 'btn btn-warning btn-sm btn-edit'value = 'Edit'>
					<input 
					type = 'button' 
					data-sid = '{{st.id}}' 
					class = 'btn btn-danger btn-sm btn-del' value = 'Delete'></td>

			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% include "enroll/ajax.html" %}

</body>
</html>